<div class="container">
<h3>Here is a list of all Restaurants <%= link_to "Add restaurant", new_restaurant_path, class: "btn btn-primary btn-sm"%></h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.phone_number %></td>
      <td><%= restaurant.category %></td>
      <td><%= link_to "See details", restaurant_path(restaurant), class: "btn btn-warning btn-sm"%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
